version: "3.9"
services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: agile_db
      POSTGRES_USER: agile
      POSTGRES_PASSWORD: agile
    ports:
      - "5434:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
