spring:
  application:
    name: AgileSprint
  config:
    import: optional:application-secrets.yml

  datasource:
    url: jdbc:postgresql://localhost:5432/agile_db
    username: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          time_zone: UTC

  mail:
    host: smtp.gmail.com
    port: 587
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            trust: smtp.gmail.com
            protocols: TLSv1.2

server:
  port: 2025

application:
  security:
    jwt:
      expiration: 464000000
      refresh-token:
        expiration: 604800000

springdoc:
  swagger-ui:
    path: /swagger
  api-docs:
    path: /v3/api-docs

management:
  endpoints:
    web:
      exposure:
        include: health,info

mail:
  from: "no-reply@agilesprint.local"
  reply-to: "support@agilesprint.local"
  display-name: "Agile Sprint+ Bot"

app:
  cors:
    allowed-origins: "http://localhost:4200"
    allowed-methods: "GET,POST,PUT,PATCH,DELETE,OPTIONS"
    allowed-headers: "*"
    allow-credentials: true

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.springframework.mail: DEBUG
    org.springframework.mail.javamail: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
